body{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
line-height:1.42857143;
color:#333333;
background-color:white;
font-weight:normal;
}

#logo{
max-height:42px;
margin-left: -13px;
margin-top: 4px;
display: inline-block;

}
footer{
background-color: rgba(128, 57, 28, 0.7);;
box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
font: bold 16px sans-serif;
text-align: left;
width: 100%;
padding: 10px 30px;
margin-top: -84px;
bottom: 0;
color: #fff;

}
.footer-navigation h3{
margin: 0;
font: normal 36px Cookie, cursive;
margin-bottom: 20px;
color: #fff;
}
.footer-navigation h3 a{
text-decoration: none;
color: #ccc;
font-style: italic;
	font-size: 32px;
	font-family: serif;
    font-weight: bolder;

}
.footer-navigation p.links a{
color: #ccc;
text-decoration: none;
}
.footer-navigation p.company-name {
  color:#8f9296;
  font-size:14px;
  font-weight:normal;
  margin-top:20px;
}
.hihi{
margin-top:10px;
text-align: center;
    color: #ccc;
    font-style: italic;
    font-size: 14px;
	}

.footer-contacts p {
    display: inline-block;
    color: #cccccc;
    vertical-align: middle;
	}
.fa.footer-contacts-icon{
background-color: #33383b;
footer {
background-color: rgba(128, 57, 28, 0.7);;
	box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 14px sans-serif;
  padding:10px 30px;
  margin-top:-46px;
  bottom:0;
  color:#fff;
}

.footer-navigation p.links a {
  color: rgba(204, 204, 204, 0.69);
  text-decoration:none;
}

.footer-navigation p.company-name {
  color:#8f9296;
  font-size:14px;
  font-weight:normal;
  margin-top:20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin:30px 0;
  }
}

.footer-contacts p {
      display: inline;
    color: #ffffff;
    vertical-align: sub;
}
.fa.footer-contacts-icon {
  background-color:#33383b;
  color:#fff;
  font-size:18px;
  width:48px;
  height:48px;
  border-radius:50%;
  text-align:center;
  line-height:38px;
  margin:10px 15px 10px 0;
}
span.new-line-span {
  display:block;
  font-weight:normal;
  display:block;
  font-weight:normal;
  font-size:14px;
  line-height:2;
}

.footer-about h4 {
  display:block;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  margin-bottom:20px;
}

.footer-about p {
  line-height:20px;
  color:#92999f;
  font-size:13px;
  font-weight:normal;
  margin:0;
}

div.social-links {
  margin-top:20px;
  color:#fff;
}

.social-links a {
  display:inline-block;
  width:35px;
  height:35px;
  cursor:pointer;
  background-color:#33383b;
  border-radius:2px;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  line-height:35px;
  margin-right:5px;
  margin-bottom:5px;
}

form{
margin-top:42px;
}
.jiji{
margin-top:42px;
}
form{
text-align:center;
margin-top:20%;

}
